<module>
	<rawname>directory</rawname>
	<repo>standard</repo>
	<name>Directory</name>
	<version>17.0.2.0</version>
	<publisher>University of Washington</publisher>
	<license>GPLv3+</license>
	<licenselink>https://www.gnu.org/licenses/gpl-3.0.txt</licenselink>
	<type>setup</type>
	<category>Applications</category>
	<menuitems needsenginedb="yes">
		<directory>Directory</directory>
	</menuitems>
	<popovers>
		<directory>
			<display>directory</display>
			<view>form</view>
		</directory>
 	</popovers>
    <database>
        <table name="directory_details">
            <field name="id" type="integer" primarykey="true" autoincrement="true"/>
            <field name="dirname" type="string" length="50" notnull="false"/>
            <field name="description" type="string" length="150" notnull="false"/>
            <field name="announcement" type="integer" notnull="false"/>
            <field name="callid_prefix" type="string" length="10" notnull="false"/>
            <field name="alert_info" type="string" length="50" notnull="false"/>
            <field name="rvolume" type="string" length="2" default=""/>
            <field name="repeat_loops" type="string" length="3" notnull="false"/>
            <field name="repeat_recording" type="integer" notnull="false"/>
            <field name="invalid_recording" type="integer" notnull="false"/>
            <field name="invalid_destination" type="string" length="50" notnull="false"/>
            <field name="retivr" type="string" length="5" notnull="false"/>
            <field name="say_extension" type="string" length="5" notnull="false"/>
        </table>
        <table name="directory_entries">
            <field name="id" type="integer"/>
            <field name="e_id" type="integer" notnull="false"/>
            <field name="name" type="string" length="50" notnull="false"/>
	    <field name="pronunciation" type="string" length="50" notnull="false"/>
            <field name="type" type="string" length="25" notnull="false"/>
            <field name="foreign_id" type="string" length="25" notnull="false"/>
            <field name="audio" type="string" length="50" notnull="false"/>
            <field name="dial" type="string" length="50" default="" notnull="false"/>
        </table>
    </database>
	<hooks>
        <ivr namespace="FreePBX\modules" class="Ivr">
            <method namespace="FreePBX\Modules" class="Directory" callingMethod="pageHook">ivrHook</method>
        </ivr>
    </hooks>
	<depends>
		<version>17.0.2</version>
		<module>recordings ge 17.0.1</module>
	</depends>
	<description>The directory module allows you to create directories of users that can be accessed by callers through modules like the IVR.  This UW version adds a pronunciation fields for TTS and forces use of AWS Polly via the aws.phar SDK.</description>
	<more-info>https://sangomakb.atlassian.net/wiki/spaces/PG/pages/22446252/PBX+GUI+-+Directory+Module</more-info>
	<changelog>
		*17.0.2.0* Added a field for TTS pronunciation, forced use of AWS Polly
		*17.0.1.2* #584 Set the Default Directory Option to Include as the Default for New Extensions 
		*17.0.1* 17.0 release
	</changelog>
	<supported>
		<version>17.0</version>
	</supported>
</module>
